.sidebar-container {
    height: 100vh;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding: 0 !important;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.main-content {
    min-height: 100vh;
    padding: 0;
}

@media (max-width: 768px) {
    .sidebar-container {
        position: static !important;
        height: auto;
        margin-bottom: 20px;
    }
    
    .main-content {
        margin-left: 0 !important;
    }
}