.btn-container {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-top: 20px;
}

.title-div-adm {
    width: 15vw!important;
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: normal;
    cursor: pointer;
    white-space: nowrap; 
}
  
.title-div-adm.active-btn {
    color: #9B2D20;
    font-weight: bold;
    border-bottom: 2px solid #9B2D20;
}
  
.title-div-adm:not(.active-btn) {
    color: #000000;
    font-weight: normal;
    border-bottom: none;
    font-style: normal;
}

.sub-title-adm {
    color: grey;
    font-size: 14px;
}

.color-grey {
    color: #193238;
}

.img-adm {
    height: 120px;
    width: 120px;
}


.btnC-adm {
    background-color: #9B2D20 !important;
    font-size: 12px;
}

@media (max-width: 768px) {
    .title-div-adm {
        width: 45vw;
    }
}
